{% extends 'news/base.html' %}
{% load static %}

{% block title %} Foydalanuvchi parolni tiklash{% endblock title %}
{% block content %}

    <h1>Parolni tiklash</h1>
    <p>Parolingizni o'zgartirish uchun, quyidagi formani toldiring.</p>
    {% if validlink %}

        <p>Iltimos yangi parol ikki marotaba kirirting</p>
        <form method="post">{% csrf_token %}
            {{ form.as_p }}
        <p><button type="submit">Parolni almashtirish</button></p>
        </form>

    {% else %}
        <p>Siz notogri kinkda foydalandingiz, u avvalroq foydalangan bo'lishi va ishlatilish vaqti o'tib ketgan vaqti bo'lishi mumkin.</p>

    {% endif %}
{% endblock content %}